<article class="book-card">
    <a class="book-card__link baslik-link" href="{{ book.url }}">
        <div class="book-card__media">
            <img class="book-card__cover cover-images" src="{{ site.baseurl }}/{{ book.image }}" alt="{{ book.title }}" loading="lazy">
        </div>
        <div class="book-card__info">
            <h3 class="book-card__title">{{ book.title }}</h3>
            {% for bookauthor in book.authors %}
                {% assign siteauthor = site.authors | where: "key", bookauthor | first %}
                <span class="book-card__author">{{ siteauthor.title }}</span>
                {% if forloop.last == false %} - {% endif %}
            {% endfor %}
        </div>
    </a>
</article>
