<!DOCTYPE html>
{% if page.layout == 'post' %}
    <html lang="{{page.language}}">
{%else %}
    <html lang="{{site.language}}">
{% endif %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}} | {{site.name}}</title>

    {% seo %}

    <link rel="alternate" type="application/rss+xml" href="{{site.baseurl}}/feed.xml" />

    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/manifest.json">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">

    <!-- Bootstrap 5 -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css">

    <!-- Theme & overrides -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/app.css">

    <!-- Tiny Slider -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/tiny-slider.css">

    {% include tracking-header.html %}

</head>

<body class="{% if page.url == "/" %} homefirstpage {% endif %}{% if page.url == '/urunler' %} page-books {% endif %}">

    <!-- Navbar -->
    <nav id="MagicMenu" class="site-nav topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img class="site-nav__logo" src="{{site.baseurl}}/assets/images/logo.png" alt="{{site.name}}">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Menüyü aç/kapat">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto d-flex align-items-center">
               {% include menu-header.html %}
            </ul>
            <ul class="navbar-nav d-md-flex d-none flex-row site-nav__social">
                {% include menu-socialmedia.html %}
            </ul>
            <ul class="navbar-nav justify-content-center d-md-none d-flex flex-row mobil site-nav__social">
                {% include menu-socialmedia.html %}
            </ul>
        </div>
    </div>
    </nav>

    <!-- Search Results -->
    <div id="lunrsearchresults">
        <ul class="mb-0"></ul>
    </div>

    <!-- Content -->
    <main role="main" class="site-content">
        {{ content }}
    </main>

    <script src="{{site.baseurl}}/assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/nav.js"></script>

    <!-- Footer -->
    <footer class="site-footer border-top text-white small">
        <div class="container">
        <div class="row justify-content-center">
            <span class="navbar-brand me-2 mb-0 text-center">
                <img class="site-footer__logo" src="{{site.baseurl}}/assets/images/logo-bw.png" alt="{{site.name}}">
            </span>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="text-center">
                <span>Copyright © <script>document.write(new Date().getFullYear())</script> Damla Yayınevi</span>
            </div>
        </div>
        </div>
    </footer>

    {% include tracking-footer.html %}

    {% if site.lazyimages == "enabled" %}
    <script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
    {% endif %}

    {% if page.layout == 'post' %}
    <script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
    {% endif %}

    <script src="{{ site.baseurl }}/assets/js/book-filter.js?v={{ site.time | date: '%s' }}"></script>

</body>

</html>
